*{
    padding: 0;
    margin: 0;        
}

body{
    height:90em;
    width: 9git check 0em;
    overflow: hidden;
    text-align: center;
    background-color: black;
}
#titulo h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
    color: white;
}
section{
    width: 80%;
    height: 30%;
    background-color: rgb(255, 255, 255); 
    margin-left: 10%;               
}
.perguntas{
    color: white;
    width: 30%;
    height: 15%;
    background-color: rgb(31, 89, 89);
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    display:inline-table;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    text-align: center;
}
.oculto{
    color: white;
    width: 10%;
    height: 5%;
    background-color: rgb(31, 89, 89);
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    display:inline-table;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    text-align: center;
}
#inputbtn{
    position: absolute;
    z-index: 100;
    margin-top: 60px;
    margin-left: 34%;        
}

#inputbtn input{
    height: 40px;
    width: 200px;
    border-radius: 10px;    
    cursor: pointer;    
}

.inputs{
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
    font-size:20px;
}